.listagem{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    animation: MostrarListagemDeCima 0.9s ease;
}

.listagem .pokemon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 0 5px;
    background-color: #6b727a;
    color: #ffffff;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.15s ease-in-out;
}

.listagem .pokemon:hover{
    transform: scale(1.05);
}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span{
    padding-right: 20px;
    
}

.listagem .pokemon.ativo {
    background-color: #fa6668;
}